@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0px;
  padding: 0px;
}

:root {
  --primary-black: #000000;
  --primary-orange: #f57224;
  --primary-gold: #eccf51;
  --primary-peach: #f9decc;
  --primary-sky: #c2e7eb;
  --primary-wash-violet: #ebebe4;
}

body {
  font-family: 'Poppins', sans-serif, 'Courier New', Courier;
}

/* remove the spinner control from input type */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

/* Custom checkbox styles */
:deep(.el-checkbox.el-checkbox--large .el-checkbox__inner) {
  height: 24px;
  width: 24px;
  border: 2px solid var(--primary-orange);
  background-color: white;
  transition: all 0.3s ease;
  position: relative;
}

:deep(.el-checkbox.el-checkbox--large.is-checked .el-checkbox__inner) {
  background-color: var(--primary-gold);
  border-color: var(--primary-black);
}

:deep(.el-checkbox.el-checkbox--large.is-checked .el-checkbox__inner::after) {
  border-color: #000;
  position: absolute;
  left: 8px;
  top: 3px;
  width: 4px;
  height: 12px;
  box-sizing: content-box;
  border-width: 0 3px 3px 0;
}

/* width */
::-webkit-scrollbar {
  width: 2px;
}

/* Track */
/* ::-webkit-scrollbar-track {
} */

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.xs {
  font-size: 14px;
}

.price-tag {
  color: var(--primary-orange);
}

.line-clamp {
  display: -webkit-box !important;
  -webkit-line-clamp: 1 !important;
  -webkit-box-orient: vertical !important;
  overflow: hidden !important;
}
